<link rel="stylesheet" href="__STATIC__/admin/css/welcome.css?v={:time()}" media="all">
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
           

            <div class="layui-col-md10">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-credit-card icon icon-blue"></i>快捷入口</div>
                            <div class="layui-card-body">
                              
                                <div class="wxImg">
                                    <div class="notice" style="margin-bottom: 15px;">您的推广二维码</div>
                                    <div id="qrcode"></div>
                                    <div class="notice">请让用户扫码进行注册！或者复制下方链接发送给他。</div>
                                    <div class="notice" id="url" style="color: #f00;word-wrap: break-word"></div>
                                </div>

                            </div>
                        </div>


            </div>

<div class="layui-col-md8">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header binding" style="color: #f00;"><i class="fa fa-warning icon"></i>与商城数据互联的方法【必须绑定】</div>
                           
                                       

        <div class="layui-col-md4">
            <a href="__STATIC__/admin/images/1.png?v={$version}" target="_blank">
                <img style="width: 100%;" src="__STATIC__/admin/images/1.png?v={$version}">
            </a>
        </div>

        <div class="layui-col-md4">
            <a href="__STATIC__/admin/images/2.png?v={$version}" target="_blank">
            <img style="width: 100%;" src="__STATIC__/admin/images/2.png?v={$version}">
            </a>
        </div>
                                  
                        </div>
                    </div>
                </div>
</div>


        </div>
    </div>
</div>
    <style>
        .wxImg {
            text-align: center;
        }
        .notice {
            font-size: 18px;
            margin-top: 0.625rem;
        }
		@media screen and (max-width: 360px) {
			.binding {
				line-height: 20px;
			}
		}
    </style>
    <script src="__STATIC__/plugs/jquery-3.4.1/jquery-3.4.1.min.js?v={$version}" charset="utf-8"></script>
    <script src="__STATIC__/plugs/jquery-3.4.1/jquery.qrcode.min.js?v={$version}" charset="utf-8"></script>
    <script type="text/javascript">
        $(function() {
            $("#url").html(window.location.origin+"{$url}")
            $('#qrcode').qrcode({width: 160,height: 160,text: window.location.origin+"{$url}"});
        });
    </script>