
        <div class="layui-form-item">
            <label class="layui-form-label required">排序</label>
            <div class="layui-input-block">
                <input type="text" name="data[display_order]" class="layui-input" lay-verify="required" placeholder="" value="">
                <tip>值越大，优先权越高</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">商品类型</label>
            <div class="layui-input-block">
                <input type="radio" name="data[state]" value="1" title="黑名单" checked="">
                <input type="radio" name="data[state]" value="0" title="白名单">
            </div>
                <tip>黑名单：禁止此地区发货，白名单：允许此地区发货。</tip>
        </div>

			<div class="layui-form-item">
				<label class="layui-form-label">地区</label>
				<div class="layui-input-inline" id="province">
					<input type="text" name="province" value="" lay-verify="required" style="display: none;"  >
					<select name="province_id" lay-filter="province"  data-value="" >
						
					</select>
				</div>
				<div class="layui-input-inline" id="city">
					<input type="text" name="city" value="" style="display: none;" >
					<select name="city_id" lay-filter="city" data-value="" >
						
					</select>
				</div>
				<div class="layui-input-inline" id="area">
					<input type="text" name="area" value="" style="display: none;" >
					<select name="area_id" lay-filter="area" data-value=""  >
						
					</select>
				</div>
				<div class="layui-input-inline" id="street">
					<input type="text" name="street" value="" style="display: none;" >
					<select name="street_id" lay-filter="street" data-value=""  >
						
					</select>
				</div>
				
			</div>


        <div class="layui-form-item">
            <label class="layui-form-label required">首件价格</label>
            <div class="layui-input-block">
                <input type="text" name="data[first_piece_price]" class="layui-input" lay-verify="required" placeholder="" value="">
                <tip>用户购买第一件的配送费价格</tip>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">续件价格</label>
            <div class="layui-input-block">
                <input type="text" name="data[another_piece_price]" class="layui-input" lay-verify="required" placeholder="" value="">
                <tip>用户多次购买的配送价格</tip>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">首件个数</label>
            <div class="layui-input-block">
                <input type="text" name="data[first_piece]" class="layui-input" lay-verify="required" placeholder="" value="">
                <tip>多少件之内是首件价格</tip>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">续件个数</label>
            <div class="layui-input-block">
                <input type="text" name="data[another_piece]" class="layui-input" lay-verify="required" placeholder="" value="">
                <tip>每几次购买增加一次配送费</tip>
            </div>
        </div>



